@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/sidebar.css");

html { scroll-behavior: smooth; }

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0;
  color: #2B2D42;
  background: #FFF8F0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
